<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
    <key>CFBundleDisplayName</key>
    <string>CP Share</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<!-- Permissions -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to save and load media.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>This app needs access to the Downloads folder to save received files.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to the Documents folder to share files.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>This app needs access to the Desktop folder to save shared files.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>This app needs access to external drives and USBs to save or load files.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app saves received media to the photo library.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>The app requires the local IP to communicate.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The app requires the local IP to communicate.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>The app uses the local network to find and connect to nearby devices.</string>
</dict>
</plist>
